<div class="container">
  <%= form_with(model: @post, url: post_index_path, local: false, id: "create-post") do |form| %>
    <div class="mt-3">
      <%= form.label :title, "Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
      <% @post.errors.full_messages_for(:title).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>
    <div class="mt-3">
      <%= form.label :public_flag, "Public Flag", class: "form-label" %>
      <%= form.select :public_flag, [["Yes", "true"], ["No", "false"]], selected: "false", class: "form-select" %>
    </div>
    <div class="mt-3">
      <%= form.label :description, "Description", class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
      <% @post.errors.full_messages_for(:description).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>
    <%= form.submit :create, class: "btn btn-primary mt-3" %>
  <% end %>
  <h1 class="text-center mt-3">All Posts</h1>
  <% unless @posts.length < 1 %>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="t-body">
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td>
              <%= link_to "delete", post_path(id: post.id), method: "delete", data: { confirm: "Are you sure?" }, remote: "true", class: "btn btn-outline-danger delete-post" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center mt-5">No Posts Yet!</p>
  <% end %>
</div>
