<h1>User Created Successfully</h1>
<ul style="list-style-type: none;">
  <li>Name --> <%= params[:user].name %></li>
  <li>Email --> <%= params[:user].email %></li>
  <li>Address --> <%= params[:user].address %></li>
  <li>Birthday --> <%= params[:user].birthday %></li>
  <li>Phone --> <%= params[:user].phone %></li>
</ul>
