<div class="container">
  <a href="<%= user_index_path %>" class="text-black"><i class="fas fa-arrow-left"></i></a>
  <div class="text-center mb-5">
    <h1>All Posts</h1>
    <%= link_to "Download All Posts", post_csv_data_download_path, class: "btn btn-outline-info" %>
  </div>
  <% unless @posts.length < 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.user_id %></td>
            <td><%= post.title %></td>
            <td>
              <%= link_to "Details", post_path(id: post.id), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No post yet!</p>
  <% end %>
</div>
