<div class="container">
  <div class="text-center mb-5">
    <h3>Posts</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
    <%= link_to "Create Post", new_post_path, class: "link" %>
  </div>
  <% unless @posts.length < 1 %>
    <% @posts.each do |post| %>
      <h3><%= post.title %></h3>
      <span class="badge bg-secondary">
        <%= link_to User.find(post.user_id).name, user_path({ "id": "#{User.find(post.user_id).id}" }), class: "text-decoration-none text-white" %>
      </span>
      <p class="mt-3"><%= post.description %></p>
      <hr>
    <% end %>
  <% else %>
    <p class="text-center">No posts yet!</p>
  <% end %>
</div>
