<%= form_with(model: @table, local: true, url: table_index_path)  do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mt-2">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="mt-2">
    <%= form.label :public_flag %>
    <%= form.label :true, class: "form-check-label" %>
    <%= form.radio_button :public_flag, "true", class: "form-check-input" %>
    <%= form.label :false, class: "form-check-label" %>
    <%= form.radio_button :public_flag, "false",class: "form-check-input" %>
  </div>
  <div class="mt-2">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>
  <div class="mt-2">
    <%= form.submit :create %>
    <button><%= link_to "cancel", root_path, class: "text-decoration-none text-black" %></button>
  </div>
<% end %>
